.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #05b8ea;
  border: 1px solid #00b0e0;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #51baff;
  border-color: #64d3ff;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #000000;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #00aeff;
}
